<div class="row gap-3">
  <h1 class="p-0 fw-light">Gerencie o seu dia-a-dia com a nossa ajuda.</h1>

  <mat-card class="col-12 col-md-6 col-lg-3 d-grid gap-2">
    <mat-card-header>
      <mat-card-title class="fs-5">Categorias</mat-card-title>
      <mat-icon class="ms-auto">label</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6">Crie categorias para organizar suas notas.</span>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-12 col-md-6 col-lg-3 d-grid gap-2">
    <mat-card-header>
      <mat-card-title class="fs-5">Notas</mat-card-title>
      <mat-icon class="ms-auto">collections_bookmark</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6">As notas ajudam você a organizar seu dia-a-dia de forma prática.</span>
    </mat-card-content>
  </mat-card>
</div>
